body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: pink;
}

h1 {
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  margin-bottom: 2em;
}

button {
  padding: 15px 30px;  
  font-size: 1.2rem; 
  border-radius: 8px; 
  cursor: pointer;    
  background-color: white;
  border: none;
}

input[type="file"] {
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  border: none;
  margin-bottom: 1em;
  display: inline-block;
  width: 40%;
  max-width: 300px;
  box-sizing: border-box;
  text-align: center;
}

button:hover {
  background-color: black;
  color: white;
}

input:hover {
  background-color: black;
  color: white;
}

p, h2 {
  margin-left: 50px;
  margin-right: 50px;
}

#preview-container {
  text-align: center;       /* center contents horizontally */
  margin-bottom: 1em;       /* 1em margin below container */
  margin-top: 15px;         /* optional top margin */
}

#preview {
  max-width: 150px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: none;            /* hide initially */
  margin: 0 auto;           /* center image itself */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* optional shadow */
}

